<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-j+69F02ORarUBcakC0F5/MrKL5YlBJ5i6jQzZ2irU6X/FUe+v1LKNlvFpJGGaD+Tp4+kWd7Vcv9zJ/Uf7GvPLQ==" crossorigin="anonymous" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
    </nav>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
